@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial-italic.ttf');
    font-weight: 400;
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {    
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

html.lock {
    overflow: hidden;
}

ul {
    list-style: none;    
}

h1, h2, h3, h4, h5, .btn {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {   
    background-color: #E5E5E5; 
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #292929;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

@media (max-width: 767.9px) {
    .back-burger.open {
        width: 100%;
        height: 362%;        
        position: absolute;        
        background: rgba(41, 41, 41, 0.6);
    }
}

.wrapper { 
    margin: 0 auto;       
    padding: 0 40px;
    max-width: 1280px;      
}

@media (max-width: 1279px) {
    .wrapper {
        padding: 0 30px;
    }
}

@media (max-width: 767.9px) {
    .wrapper {
        padding: 0 10px;
    }
}

.header {  
    
    &__wrapper {
        position: fixed;
        width: 100%;
        background: white;
        display: flex;               
        padding-top: 30px;
        padding-bottom: 30px;
        align-items: center;        
    }

    @media (max-width: 767.9px) {
        &__wrapper.open {
            background: none;
        }
    }

    .logo-link {
        text-decoration: none;
    }

    @media (max-width: 767.9px) {
        .logo-link.open {
            position: absolute;
            top: 30px;
            right: 124px;
            z-index: 2;
            animation-name: slide-in-logo;
            animation-duration: 0.5s;
            
        }
    }

    @keyframes slide-in-logo{
        from {
            right: -320px;            
        }

        to {
            right: 124px;
        }
    }

    @keyframes slide-in{
        from {
            right: -320px;            
        }

        to {
            right: 0;
        }
    }

    @keyframes slide-out{
        from {
            right: 0;            
        }

        to {
            right: -320px;
        }
    }

    h1 {           
        font-size: 32px;
        line-height: 35.2px;
        color: #545454;
        letter-spacing: 0.06em;                      
    }    
    
    &__logo { 
        height: 60px;
        align-items: center;              
        color: #292929;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        gap: 8px; 
        padding-bottom: 1px;                     
    }

    &__nav {
        margin-left: auto;
        padding-bottom: 2px;
    }
    @media (max-width: 767.9px) {
        &__nav {
            display: none;
            animation-name: slide-out;
            animation-duration: 0.5s;  
        }

        &__nav.open {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 320px;            
            height: 823px;
            padding-bottom: 248px;
            background: white;          
            overflow: auto;
            animation-name: slide-in;
            animation-duration: 0.5s;       
            
        }        
    }

    &__burger {
        display: none;
    }

    @media (max-width: 767.9px) {
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 22px;
            order: 1;
            margin-left: auto;
            margin-right: 43px;
        }

        &__burger.open {
            width: 30px;
            height: 30px;
            margin-top: 15px;
            margin-right: 44px;            
        }
    }

    @media (max-width: 767.9px) {
        &__burger::before, &__burger::after {
            content: '';
            background: #000000;
            position: absolute;
            width: 100%;
            height: 2px;
            transition: all 0.3s;
        }
    }

    @media (max-width: 767.9px) {
        &__burger::before {
            top: 0px;
        }

        &__burger.open::before {
            transform: rotate(90deg);
            right: 10px;
            top: 14px;
            transition: 0.5s;            
        }
    }

    @media (max-width: 767.9px) {
        &__burger span {
            content: '';
            background: #000000;
            position: absolute;
            width: 100%;
            height: 2px;
            top: 10px;
            transition: all 0.3s;
        }

        &__burger.open span {
            transform: rotate(90deg);
            top: 14px;
            transition: 0.5s;            
        }
    }

    @media (max-width: 767.9px) {
        &__burger::after {
            bottom: 0;
        }

        &__burger.open::after {
            transform: rotate(90deg);
            left: 10px;
            bottom: 14px;
            transition: 0.5s;            
        }
    }
}

.header__logo p {
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 0.1em;    
    padding-left: 3px;
}

.nav-list {    
    display: flex;
    padding-bottom: 2px;
    // margin-right: 1px;
    // gap: 36px;

    a{
        text-decoration: none;
        color: #545454;
    }

    a:hover {
        color: black;
    }

    .nav-item {
        color: #545454;
        margin-left: 36px; 
        cursor: pointer;
    }

    .nav-item_underlined { 
        padding-bottom: 3px;       
        border-bottom: 3px solid #F1CDB3;
        color: black;        
    }

    .no-link {
        pointer-events: none;
        cursor: default;
    }
    
    &__burger {
        display: none;
    }

    @media (max-width: 767.9px) {
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 22px;
            order: 1;
            margin-left: auto;
        }

        &__burger.open {
            width: 30px;
            height: 30px;
            margin-top: 15px;
            margin-right: -7px;
        }
    }

    @media (max-width: 767.9px) {
        &__burger::before, &__burger::after {
            content: '';
            background: #F1CDB3;
            position: absolute;
            width: 100%;
            height: 2px;
        }
    }

    @media (max-width: 767.9px) {
        &__burger::before {
            top: 1px;
            transition: 0.5s;
        }

        &__burger.open::before {
            transform: rotate(90deg);
            right: 10px;
            top: 14px;
            transition: 0.5s;
        }

        &__burger::after {
            bottom: 0;
            transition: 0.5s;
        }

        &__burger.open::after {
            transform: rotate(90deg);
            left: 10px;
            bottom: 14px;
            transition: 0.5s;
        }
    }

    @media (max-width: 767.9px) {
        &__burger span {
            content: '';
            background: #F1CDB3;
            position: absolute;
            width: 100%;
            height: 2px;
            top: 10px;
            transition: 0.5s;
        }

        &__burger.open span {
            transform: rotate(90deg);
            top: 14px;
            transition: 0.5s;
        }
    }
}

@media (max-width: 767.9px) {
    .nav-list {
        flex-direction: column;
        margin-top: 248px;
        align-items: center;
        

        .nav-item a {
            font-size: 32px;
            line-height: 160%;            
        }

        .nav-item {
            margin-left: 0;
            margin-bottom: 41px;
        }
    }    
}

.friends { 
    &__wrapper {
        padding-top: 120px;
        padding-bottom: 101px;
        background: #F6F6F6;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   @media (max-width: 1279.9px) {
        &__wrapper {
            padding-bottom: 76px;
        }
    }

    @media (max-width: 767.9px) {
        &__wrapper {
            padding-bottom: 42.5px;
        }
    }

    h2 {
        font-size: 35px;
        line-height: 45.5px;
        color: #545454;
        letter-spacing: 0.06em;          
        text-align: center;
        margin-top: 80px;
        margin-bottom: 45px;
    }

   @media (max-width: 1279.9px) {
        h2 {
            margin-bottom: 28px;
        }
    }

    @media (max-width: 767.9px) {
        h2 {
            font-size: 25px;
            line-height: 32.5px;
            margin-top: 42px;
            margin-bottom: 42px;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 31px;
        padding-top: 13px;
        padding-bottom: 15px;
        justify-content: center;
    }    

   @media (max-width: 1279.9px) {
        &__cards {
            padding-top: 0;
            padding-bottom: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 767.9px) {
        &__cards {
            grid-template-columns: 1fr;
        }
    }

   @media (max-width: 1279.9px) {
        .invisible768 {
            display: none;
        }
    }

    @media (max-width: 767.9px) {
        .invisible320 {
            display: none;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: #FAFAFA;
        cursor: pointer;
        border-radius: 9px;
        transition: 0.3s;    

        h4 {
            font-size: 20px;
            line-height: 22.72px;
            letter-spacing: 0.06em;
            color: #545454;
            margin: 30px 0 30px 0;
            padding-left: 2px;            
        }

        .card__btn {
            width: 187px;
            height: 52px;
            background: #FAFAFA;
        }

        .card__btn:hover {
            background-color: #FDDCC4;
            border: 1px solid #FDDCC4;
        }
    }

    // @keyframes fade-in {
    //     from {opacity: 0.5;}
    //     to {opacity: 1;}
    // }

    // &__card.transform-fade{
    //     opacity: 0.5;
    //     transition: 0.5s;
    // }

    &__card:hover {
        background-color: white;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }

    &__card:hover .card__btn{
        background-color: #FDDCC4;
        border: 1px solid #FDDCC4;
    }    

    &__switches {
        margin-top: 45px;
        display: flex;
        gap: 20px;

        .switch {
            width: 52px;
            height: 52px;
            border: 2px solid #F1CDB3;
            color: #292929;
            border-radius: 100px;
            font-family: 'Georgia', 'Times New Roman', serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.06em;
            display: flex;
            justify-content: center; 
            align-items: center;
            cursor: pointer;       
        }

        .switch:hover {
            background-color: #FDDCC4;            
        }


        .switch-now {
            background-color: #F1CDB3;
            cursor: default;
        }

        .switch-now:hover {
            background-color: #F1CDB3;
        }
        
        .disabled {
            border: 2px solid #CDCDCD;
            color: #CDCDCD;
            cursor: default;
        }

        .disabled:hover {
            background-color: #F6F6F6;
        }        
        
    }

   @media (max-width: 1279.9px) {
        &__switches {
            margin-top: 40px;
        }
    }

    @media (max-width: 767.9px) {
        &__switches {
            gap: 10px;
        }
    }
}

.btn { 
    padding-top: 2px;
    margin-bottom: 30px;   
    border-radius: 100px;
    border: 2px solid #F1CDB3;        
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
    cursor: pointer;
    transition: 0.3s; 
}

.footer {
    &__wrapper {
        padding-top: 40px;
        background: url("../../assets/icons/noise-transparent.png"), linear-gradient(to right, #5B483A 5%, #262425 95%);
        background-repeat: repeat;
        display: flex;              
    }

   @media (max-width: 1279.9px) {
        &__wrapper {            
            padding-top: 30px;
            flex-wrap: wrap;
            column-gap: 60px;
            row-gap: 65px;            
            align-items: center;
            justify-content: center;                        
        }
    }

    @media (max-width: 767.9px) {
        &__wrapper {
            row-gap: 40px;
        }
    }

    &__contacts {        
        padding-top: 16px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
    }

   @media (max-width: 1279.9px) {
        &__contacts {
            width: 279px;
            height: 235px;
            padding-top: 0px;
            padding-bottom: 1px;
            gap: 40px;                        
        }
    }

    @media (max-width: 767.9px) {
        &__contacts {                      
            gap: 40px; 
            width: 278px; 
            height: 208px;                      
        }
    }

    &__locations {
        padding-top: 16px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 141px;
        margin-right: 160px;
    }

   @media (max-width: 1279.9px) {
        &__locations {
            width: 302px;
            height: 234px;
            margin-left: 0;
            margin-right: 0;
            padding-top: 0px;
            padding-bottom: 0px;            
            gap: 33px;                        
        }
    } 
    
    @media (max-width: 767.9px) {
        &__locations {
            height: 222px;
            gap: 39px;

            h3 {
                width: 270px;
                margin: 0 auto;
            }
        }
    }

    h3 {
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    @media (max-width: 767.9px) {
        h3 {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
        }
    }

    a {
        font-family: 'Georgia', 'Times New Roman', serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        text-decoration: none;                
    }

    &__mail-link {
        background: url("../../assets/icons/icon-email.png");
        background-repeat: no-repeat;
        padding-left: 60px; 
        padding-top: 5px;   
        height: 32px;              
    }

    @media (max-width: 767.9px) {
        &__mail-link {
            width: 251px;
            margin: 0 auto;
        }
    }

    &__phone-link {
        background: url("../../assets/icons/icon-phone.png");
        background-repeat: no-repeat; 
        padding-left: 60px;
        padding-top: 5px;                       
        height: 32px;
    }

    @media (max-width: 767.9px) {
        &__phone-link {
            width: 240px;
            margin: 0 auto;
        }
    }

    &__map-link1 {
        background: url("../../assets/icons/pin.png");
        background-repeat: no-repeat;
        background-position: 0 center;
        padding-left: 42px;                        
        height: 46px;        
    }

    @media (max-width: 767.9px) {
        &__mail-link {
            padding-bottom: 2px;
        }
    }

    &__map-link2 {
        background: url("../../assets/icons/pin.png");
        background-repeat: no-repeat; 
        padding-left: 42px;
        padding-top: 5px;                       
        height: 32px;
    }    

    &__image {
        width: 300px;
        height: 310px;
    }

    @media (max-width: 767.9px) {
        &__image {
          width: 260px;
          height: 269px;  
        }
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__body {
        max-width: 952px;
        // height: 552px;
        display: flex;
        flex-direction: column;
        justify-content: end;          
        position: relative;
        left: 52%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

   @media (max-width: 1279.9px) {
        &__body {
            width: 682px;                        
            justify-content:start;
        }
    }

    @media (max-width: 767.9px) {
        &__body {
            width: 271px;           
            
        }
    }

    &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;      
       
    }  
    

    &__btn {
        position: absolute;
        top: -52px;
        right: 11px;
        text-decoration: none;
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;             
        border-radius: 100px;
        color: #292929;
        display: flex;
        align-items: center;
        justify-content: center;        
    } 
    
    @media (max-width: 767.9px) {
        &__btn {
            right: 2px;
        }
    }    

    &__content {
        background-color: #FAFAFA;
        display: flex;        
        column-gap: 29px;
        max-width: 900px;
        border-radius: 9px; 
        // height: 500px;
        // box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04); 
            
    }
   @media (max-width: 1279.9px) {
        &__content {
            width: 630px;
            // height: 350px;
            column-gap: 11px;
            // margin-top: 52px;
            // margin-right: 52px;
        }
    }

    @media (max-width: 767.9px) {
        &__content {
            width: 240px;
            // height: 341px;
            column-gap: 0;
            padding: 10px;
        }
    }   
    
    &__img {
        width: 500px;
        height: 500px;
    }

   @media (max-width: 1279.9px) {
        &__img {
            width: 350px;
            height: 350px;
        }
    }
    
    @media (max-width: 767.9px) {
        &__img {
            display: none;
        }
    }

    &__description {
        width: 351px;
        // height: 362px;
        margin-right: 20px;
        margin-top: 50px;
        margin-bottom: 88px;
        color: #000000;
    }

   @media (max-width: 1279.9px) {
        &__description {
            margin-right: 9px;
            margin-top: 10px;
            margin-bottom: 37px;
        }
    }

    @media (max-width: 767.9px) {
        &__description {
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;            
        }
    }

    &__title {
        font-family: 'Georgia', 'Times New Roman', serif;
        font-weight: 400px;
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 0.06em;
        margin-bottom: 10px;        
    }

    @media (max-width: 767.9px) {
        &__title{
            display: flex;
            justify-content: center;
        }
    }

    &__subtitle {
        font-family: 'Georgia', 'Times New Roman', serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em; 
        margin-bottom: 40px;       
    }

   @media (max-width: 1279.9px) {    

        &__subtitle {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 767.9px) {
        &__subtitle{
            display: flex;
            justify-content: center;
        }
    }

    &__text {
        max-width: 350px;
        height: 102px;
        font-family: 'Georgia', 'Times New Roman', serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 16.5px;
        letter-spacing: 0.06em;
        margin-bottom: 40px;
    }

   @media (max-width: 1279.9px) {
        &__text {
            width: 261px;
            font-size: 13px;
            line-height: 14.3px;
            margin-bottom: 16px;
        }
    }

    @media (max-width: 767.9px) {
        &__text {
            width: 220px;
            margin-bottom: 36px;
            text-align: justify;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 12px; 
        font-family: 'Georgia', 'Times New Roman', serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 16.5px;
        letter-spacing: 0.06em;     
        
    }

   @media (max-width: 1279.9px) {
        &__list {
            row-gap: 6px;
        }
    }

    @media (max-width: 767.9px) {
        &__list {
            row-gap: 6.5px;            
        }
    }

    .list-item {
        font-family: 'Georgia', 'Times New Roman', serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 16.5px;
        letter-spacing: 0.06em;

        .bolded {            
            font-weight: 700;
            letter-spacing: 0.13rem;            
        }

        &::before {
            content: "\2022";
            color: #F1CDB3;
            font-weight: bold;
            display: inline-block; 
            width: 10px;            
        }

        .second {
            padding-left: 1px;
        }
    }
}
